@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto&family=Source+Sans+Pro&display=swap');

:root{
    --primary-color: #4d2c91;
    --dark-grey: #475569;
    --light-grey: #f1f5f9;
    --purple: #6247aa;

}
body {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    margin : 0px 85px;
}
hr{
    margin: 2rem 0rem;  
}

/** containers**/
.container{
    padding: 0rem 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}
/**links**/
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}
.link-secondary{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}
/**lists**/
.list-non-bullet{
    list-style: none;
}
.list-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
/**nav**/
.nav{
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
    border-bottom-left-radius: 1rem;
}
.nav .nav-brand{
    font-weight: bold;
}
.nav .link{
    color: white;
}
.nav .link-active{
    font-weight: bold;
}
.nav .nav-items{
    text-align: right;
}
/**header**/
.header{
    padding: 2rem;
}
.header .header-image{
    max-width: 350px;
    display: block;
    margin: auto;
}
.header .header-heading{
    font-size: 2rem;
    color: var(--dark-grey);
    padding-left: 1rem;
    text-align: center;
}
.header .header-heading .header-inverted{
    color: var(--primary-color);
}
/**section**/
.ow{
    background-color: var(--light-grey);
}
.section{
    padding: 2rem;
  text-align: center;
  margin: 2rem 0;
  border-radius: 1rem;
}
.section h1{
    text-align: center;
    font-weight: bold;
}
.section-technologies{
    font-weight: bold;
}
/**footer**/
.footer{
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    border-top-right-radius: 1rem;
    color: white;
    text-align: center;
}
.footer .link{
    color: white;
}
.footer ul{
    padding-inline-start: 0px;
}
.footer-insider{
    font-weight: bold;
    font-size: large;
    padding-bottom: 1rem;
}
.flex{
    display: flex;
    justify-content: center;
}
.normal-link{
    color: var(--primary-color);
}
.purple{
    color: var(--purple);
}

@media screen and (max-width:800px){
    body{
        margin: 0px 60px;
    }

}
@media screen and (max-width:700px){
    body{
        margin: 0px 40px;
    }

}
@media screen and (max-width:560px){
    body{
        margin: 0px 30px;
    }

}
@media screen and (max-width:450px){
    body{
        margin: 0px 30px;
        font-size: medium;
    }
    .list-inline{
        display: inline;
        padding: 0rem 0rem;
    }
    .link{
        padding: 0.5rem 0.5rem;
    }
    .header .header-image{
        max-width: 250px;
    }
    .header .header-heading{
        font-size: 1.5rem;
    }

}
@media screen and (max-width:370px){
    body{
        margin: 0px;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 15px;

    }
    .list-inline{
        display: block;
        padding: 0.25rem 0rem;
        text-align: left;
    }
    .nav .nav-items{
        padding-left: 0px;
    }
    .link{
        display: block;
        padding: 0.5rem 0rem;
    }
    .header .header-image{
        max-width: 250px;
    }
    .header .header-heading{
        font-size: 1.5rem;
    }


}